.galleryx4 {
	display: inline-block;
    margin: 10px;
    /*border: 1px solid #ccc;*/
    // float: left;
    width: 280px;

    img {
	    width: 100%;
	    height: auto;
	}

	.desc-info {
	    padding: 15px 15px 0 15px;
	    text-align: center;
	}

	.desc-price {
		padding: 5px;
	    text-align: center;
	    font-weight: 100;
	}
}