.headerContainer {
	display: flex;
	padding: 0.5% 0;
	border-bottom: 1px solid #d2d2d2;
;

	.headerBox {
		flex: 1;
	    display: flex;
	    justify-content: center;
	}
}

.container {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	padding: 15px 0;

	.desc {
		line-height: 2em;
		text-align: center;
		margin-top: 20px;
	}

	.socialLink {
		display: inline-block;
		color: $blue;
		&:hover {
			color: #4184b6;
		}
	}
}
