body {
  margin: 0;
  /*padding: 0 2%;*/
  font-family: sans-serif;
  /*background-color: #f7f2e8;*/
  /*background-image: url(https://www.chagrinvalleysoapandsalve.com/img/patterns/lightpaperfibers.png)*/
}

.logoHeader {
	text-align: center;
	cursor: pointer;
	/*color: rgba(117,117,117 ,1);*/
	color: rgba(80, 80, 80, 1);
}

.logoHeader:hover {
	color: black;
}